[submodule "lib/StarRailRes"]
	path = public/lib/StarRailRes
	url = https://github.com/Mar-7th/StarRailRes/
[submodule "public/lib/StarRailRes"]
	path = public/lib/StarRailRes
	url = https://github.com/Mar-7th/StarRailRes/
